.App {
  text-align: center;
  
}




* {
  box-sizing: border-box;
  text-align: center;
}

.nav h1 {
  font-size: 2rem;
}
.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 5rem;
}



.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}
  

.nav li:hover {
  background-color: #777;
}
